
:root {
    /* Modify theme color */
    --rp-c-brand: #f00;
    --rp-c-brand-dark: #ffa500;
    --rp-c-brand-darker: #c26c1d;
    --rp-c-brand-light: #f2a65a;
    --rp-c-brand-lighter: #f2a65a;
    /* Modify the width of the left sidebar */
    --rp-sidebar-width: 280px;
    /* Modify the width of the right outline column */
    --rp-aside-width: 256px;
    /* Modify the background of the code block title */
    --rp-code-title-bg: rgba(250, 192, 61, 0.15);
    /* Modify the background of the code block content */
    --rp-code-block-bg: rgba(214, 188, 70, 0.05);
}

/* Logo CSS Reset */
.rspress-logo {
    height: 2.4rem;
}

/* Use Tailwindcss */
@import "tailwindcss"
